* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #111;
}

/* NAVBAR */

#logo img {
    height: 40px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid #0294DD;
    margin-bottom: 1em;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

#navbar ul li a:hover {
    color: #0294DD;
}

.fas {
    color: #fff;
    background-color: transparent;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #0294DD;
    padding-bottom: .3em;
    margin-bottom: 1em;
    border-bottom: 4px solid #0294DD;
}

h2 {
    color: #fff;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    background-color: transparent;

}

/* CONTAINER */

.container {
    width: 60%;
    min-height: 60vh;
    padding: 2em;
    align-items: center;
    margin: 0 auto;
}

.container-items,
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-result {
    display: flex;
    flex-direction: column ;
}

.container-result span {
    font-weight: bold;
    color: #0294DD;
}

.container-result p {
    padding-bottom: .5em;
    border-bottom: 1px solid #0294DD;
    margin-bottom: .5em;
}

.back-icon {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #0294DD;
    cursor: pointer;
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: 0.3s;

}

.print-icon {
    width: 90px;
    height: 20px;
    color: #fff;
    background-color: #0294DD;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px;
    display: block;
    padding: .5em;
}

.print-icon span {
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.icon {
    margin: 0 auto;
    width: 200px;
    height: 190px;
    background-color: #0294DD;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    margin-bottom: 1em;
    text-decoration: none;
    border-bottom: 10px solid #0085c7;

}

.icon:hover, .back-icon:hover, .print-icon:hover {
    background-color: #0085c7;
    border: 0;
}

select {
    margin: 0 auto;
    margin-left: 1em;
    padding: 1em;
    border: 1px solid #0294DD;
    border-radius: 5px;
    font-size: 1em;
}

/* FOOTER */

footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 2px solid #0294DD;
}

footer span {
    font-weight: bold;
    color: #0294DD;
}