<h1>Escolha uma categoria</h1>

<div class="container-items">
        <a href="/vehicles/?type=motos" class="icon">
                <h2>Motos</h2>
                <i class="fas fa-motorcycle fa-5x"></i>
        </a>

        <a href="/vehicles/?type=carros" class="icon">
                <h2>Carros</h2>
                <i class="fas fa-car-side fa-5x"></i>
        </a>

        <a href="/vehicles/?type=caminhoes" class="icon">
                <h2>Caminhões</h2>
                <i class="fas fa-truck fa-5x"></i>
        </a>
</div>